.jumbotron {
  text-align: center;
  background-image: url(../img/pdx.jpg);
  background-position: center;
  background-size: cover;
}

h1 {
  color: #ffffff!important;
  text-shadow: 2px 1px 4px black;
  font-size: 50px;
}

form {
  margin-left: 10vw;
  margin-bottom: 5vh;
}
input {
  margin-bottom: 5vh;
}
button {
  background-color: lightgreen;
}
button:focus, button:active, button.active, button:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.or {
  font-size: 15px;

}

.result li {
  list-style: none;
}

.card {
  border: 1px solid;
  padding: 1%;
  margin: 1%;
  box-shadow: .5px .5px .5px;
  background-color: #afc3ca85;
}

.topic {
  font-weight: bold;
}
